body {
    /* background-color: #111216; */
    background-color: white;
}

#main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

.row-contents {
  display: flex;
  align-content: flex-start;
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.row {
  display: flex;
  align-content: flex-start;
  text-align: left;
  width: 100%;
  min-width: 800px;
  max-width: 800px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.row-header {
  text-align: center;
}

.row-logo {
  text-align: center;
}

.row-run {
  text-align: center;
  margin-top: 2em;
  display: flex;
  min-width: 350px;
  max-width: 800px;
}

.row-results {
  text-align: center;
    width: 100%;
    max-width: 750px;
    overflow-x: scroll;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 0em;
}

.row-footer {
  text-align: center;
  display: flex;
  width: 100%;
  min-width: 400px;
}

.column {
  flex: 50%;
  width: 50%;
}

.column-left {
  flex: 50%;
  width: 50%;
  margin-right: 0.5em;
  margin-left: 6.5em;
  overflow-x: scroll;
}

.column-right {
  flex: 50%;
  width: 50%;
  margin-right: 0.5em;
  margin-left: 5em;
  overflow-x: scroll;
}

.column-footer {
  flex: 33%;
  width: 33%;
}

.footer {
  margin-top: 2em;
  padding-bottom: 3em;
  text-align: center;
}

.div-box {
  min-width: 800px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding-bottom: 2em;
}
